#sftp文件
sftp-config.json
#log
*.txt
#runtime
*.json
#server.pid
*.pid
*.lock
*.idea
*.json.back
#dir
/App
/Service
/protocol
/vendor
Pb
#runtime.log
runtime.log
docker-compose.yml
/APP/View/Test/test.html
/*Service
