#sftp文件
sftp-config.json
#log
*.txt
#runtime
*.json
#server.pid
*.pid
*.lock
#dir
/App/Runtime/
/App/Config/config.php
/App/Config/defines.php
/Service/Runtime/
/Service/Config/
/vendor
#runtime.log
runtime.log
docker-compose.yml
/APP/View/Test/test.html
