<!DOCTYPE html>
<html>
<head>
	<title>测试swoole的开启</title>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div>
	<h2>{$name}</h2>
</div>
<div id="text">
	
</div>

<div id="showtext"></div>
<table border=1> 
      {foreach key=key1 item=item1 from=$books} 
      <tr> 
        <td>{$key1}</td> 
        <td>{$item1.name}</td>
        <td>{$item1.desc}</td> 
      </tr> 
      {/foreach} 
</table> 
<a href="/Test/testajax">测试ajax</a>
<div>
	<input type="text" id="settext" />
</div>
<button id="set_btn">设置websocket</button>
<script type="text/javascript">
	ws = new WebSocket("ws://192.168.99.102:9503");
	ws.onopen = function(){  
	  ws.send('test'+Math.floor(Math.random() * 100 + 1));	
	};

	ws.onmessage = function(evt){
		console.log(evt.data);
		$('#showtext').text(evt.data);
	};

	ws.onclose = function(evt){
	  console.log("WebSocketClosed!");
	};

	ws.onerror = function(evt){
	  console.log("WebSocketError!");
	};

	// window.onbeforeunload = function() {
	// 	ws.close();
	// };

</script>
<script type="text/javascript">
	$("#btn").click(function() {
		$.ajax({
			url:'/Test/testajax?name=bingcool',
			type:'get',
			success:function(data) {
				console.log(data);
			}
		});
	});
</script>

<script type="text/javascript">
	$("#set_btn").click(function() {
		$text = $("#settext").val();
		ws.send('test'+ $text);
	}); 
</script>

</body>
</html>